﻿@model Lugar
@{ Layout = "_Layout"; ViewBag.Title = "Agregar Lugar";}

<h2>Agregar Lugar <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddLugar" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" />
    </div>
    <div class="form-group">
        <label for="LNombre">Nombre del lugar:</label>
        <input class="form-control" name="LNombre" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Lugar</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Nombre</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.LNombre</td>
            </tr>
        </tbody>
    </table>
}
