﻿@model Lugar
@{ Layout = "_Layout"; ViewBag.Title = "Obtener lugar por Id";}

<h2>Obtener lugar por Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Obtener lugar</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Lugar</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Nombre</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.LNombre</td>
            </tr>
        </tbody>
    </table>
}