﻿@model IEnumerable<Lugar>
@{ Layout = "_Layout"; ViewBag.Title = "Consulta de Lugares";}

<h2>Lugares registrados</h2>
<a asp-action="AddLugar" class="btn btn-sm btn-primary">Agregar Lugar</a>
<a asp-action="GetLugar" class="btn btn-sm btn-secondary">Obtener Lugar</a>
<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>ID</th><th>Nombre</th><th>Update</th><th>Delete</th></tr></thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.LNombre</td>
                <td>
                    <a asp-action="UpdateLugar" asp-route-id="@r.Id">Modificar</a>
                </td>
                <td>
                    <form asp-action="DeleteLugar" method="post">
                        <input type="hidden" value="@r.Id" name="lugarId" />
                        <input type="image" src="/icon/close.png" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>