﻿@model Lugar
@{ Layout = "_Layout"; ViewBag.Title = "Modificar un lugar";}

<h2>Modificar un lugar <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="LNombre">Nombre</label>
        <input class="form-control" asp-for="LNombre" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>

</form>

@if (ViewBag.Result == "Success")
{
    <h2>Lugar</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Nombre</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.LNombre</td>
            </tr>
        </tbody>
    </table>
}