﻿@model Viajero
@{ Layout = "_Layout"; ViewBag.Title = "Agregar Viajero";}

<h2>Agregar Viajero <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddViajero" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" />
    </div>
    <div class="form-group">
        <label for="VCedula">Cedula:</label>
        <input class="form-control" name="VCedula" />
    </div>
    <div class="form-group">
        <label for="VDireccion">Direccion:</label>
        <input class="form-control" name="VDireccion" />
    </div>
    <div class="form-group">
        <label for="VNombre">Nombre:</label>
        <input class="form-control" name="VNombre" />
    </div>
    <div class="form-group">
        <label for="VApellido">Apellido</label>
        <input class="form-control" name="VApellido" />
    </div>
    <div class="form-group">
        <label for="VTelefono">Telfono</label>
        <input class="form-control" name="VTelefono" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Viajero</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Cedula</th><th>Direccion</th><th>Nombre</th><th>Apellido</th><th>Telefono</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.VCedula</td>
                <td>@Model.VDireccion</td>
                <td>@Model.VNombre</td>
                <td>@Model.VApellido</td>
                <td>@Model.VTelefono</td>
            </tr>
        </tbody>
    </table>
}
