﻿@model Viajero
@{ Layout = "_Layout"; ViewBag.Title = "Obtener viajero por Id";}

<h2>Obtener viajero por Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Obtener viajero</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Viajero</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Cedula</th><th>Direccion</th><th>Nombre</th><th>Apellido</th><th>Telefono</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.VCedula</td>
                <td>@Model.VDireccion</td>
                <td>@Model.VNombre</td>
                <td>@Model.VApellido</td>
                <td>@Model.VTelefono</td>
            </tr>
        </tbody>
    </table>
}