﻿@model IEnumerable<Viajero>
@{ Layout = "_Layout"; ViewBag.Title = "Consulta de Viajeros";}

<h2>Viajeros registrados</h2>
<a asp-action="AddViajero" class="btn btn-sm btn-primary">Agregar Viajero</a>
<a asp-action="GetViajero" class="btn btn-sm btn-secondary">Obtener Viajero</a>
<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>ID</th><th>Cedula</th><th>Direccion</th><th>Nombre</th><th>Apellido</th><th>Telefono</th><th>Update</th><th>Delete</th></tr></thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.Id</td>
            <td>@r.VCedula</td>
            <td>@r.VDireccion</td>
            <td>@r.VNombre</td>
            <td>@r.VApellido</td>
            <td>@r.VTelefono</td>
            <td>
                <a asp-action="UpdateViajero" asp-route-id="@r.Id">Modificar</a>
            </td>
            <td>
                <form asp-action="DeleteViajero" method="post">
                    <input type="hidden" value="@r.Id" name="viajeroId" />
                    <input type="image" src="/icon/close.png" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>