﻿@model Viajero
@{ Layout = "_Layout"; ViewBag.Title = "Modificar un viajero";}

<h2>Modificar un viajero <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="VCedula">Cedula:</label>
        <input class="form-control" asp-for="VCedula" />
    </div>
    <div class="form-group">
        <label asp-for="VDireccion">Direccion:</label>
        <input class="form-control" asp-for="VDireccion" />
    </div>
    <div class="form-group">
        <label asp-for="VNombre">Nombre:</label>
        <input class="form-control" asp-for="VNombre" />
    </div>
    <div class="form-group">
        <label asp-for="VApellido">Apellido</label>
        <input class="form-control" asp-for="VApellido" />
    </div>
    <div class="form-group">
        <label asp-for="VTelefono">Telfono</label>
        <input class="form-control" asp-for="VTelefono" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>

</form>

@if (ViewBag.Result == "Success")
{
    <h2>Viajero</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Cedula</th><th>Direccion</th><th>Nombre</th><th>Apellido</th><th>Telefono</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.VCedula</td>
                <td>@Model.VDireccion</td>
                <td>@Model.VNombre</td>
                <td>@Model.VApellido</td>
                <td>@Model.VTelefono</td>
            </tr>
        </tbody>
    </table>
}