﻿@model Viaje
@{ Layout = "_Layout"; ViewBag.Title = "Agregar Viaje";}

<h2>Agregar Viaje <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddViaje" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" />
    </div>
    <div class="form-group">
        <label for="ViCodigo">Codigo:</label>
        <input class="form-control" name="ViCodigo" />
    </div>
    <div class="form-group">
        <label for="ViPlazas">Plazas:</label>
        <input class="form-control" name="ViPlazas" />
    </div>
    <div class="form-group">
        <label for="ViPrecio">Precio:</label>
        <input class="form-control" name="ViPrecio" />
    </div>
    <div class="form-group">
        <label for="ViLugarDestinoId">Id lugar destino:</label>
        <input class="form-control" name="ViLugarDestinoId" />
    </div>
    <div class="form-group">
        <label for="ViLugarOrigenId">Id lugar origen:</label>
        <input class="form-control" name="ViLugarOrigenId" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Viaje</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Codigo</th><th>Plazas</th><th>Precio</th><th>Id lugar de destino</th><th>Id lugar de origen</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.ViCodigo</td>
                <td>@Model.ViPlazas</td>
                <td>@Model.ViPrecio</td>
                <td>@Model.ViLugarDestinoId</td>
                <td>@Model.ViLugarOrigenId</td>
            </tr>
        </tbody>
    </table>
}
