﻿@model Viaje
@{ Layout = "_Layout"; ViewBag.Title = "Obtener viaje por Id";}

    <h2>Obtener viaje por Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Obtener viaje</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Viaje</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Codigo</th><th>Plazas</th><th>Precio</th><th>Id lugar de destino</th><th>Id lugar de origen</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.ViCodigo</td>
                <td>@Model.ViPlazas</td>
                <td>@Model.ViPrecio</td>
                <td>@Model.ViLugarDestinoId</td>
                <td>@Model.ViLugarOrigenId</td>
            </tr>
        </tbody>
    </table>
}