﻿@model IEnumerable<Viaje>
@{ Layout = "_Layout"; ViewBag.Title = "Consulta de Viajes";}

<h2>Viajes disponibles</h2>
<a asp-action="AddViaje" class="btn btn-sm btn-primary">Agregar Viaje</a>
<a asp-action="GetViaje" class="btn btn-sm btn-secondary">Obtener Viaje</a>
<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>ID</th><th>Código</th><th>Camtidad de plazas</th><th>Precio</th><th>Id lugar de destino</th><th>Id lugar de origen</th><th>Update</th><th>Delete</th></tr></thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.Id</td>
            <td>@r.ViCodigo</td>
            <td>@r.ViPlazas</td>
            <td>@r.ViPrecio</td>
            <td>@r.ViLugarDestinoId</td>
            <td>@r.ViLugarOrigenId</td>
            <td>
                <a asp-action="UpdateViaje" asp-route-id="@r.Id">Modificar</a>
            </td>
            <td>
                <form asp-action="DeleteViaje" method="post">
                    <input type="hidden" value="@r.Id" name="ViajeId" />
                    <input type="image" src="/icon/close.png" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>