﻿@model Viaje
@{ Layout = "_Layout"; ViewBag.Title = "Modificar un viaje";}

<h2>Modificar un viaje <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="ViCodigo"></label>
        <input class="form-control" asp-for="ViCodigo" />
    </div>
    <div class="form-group">
        <label asp-for="ViPlazas"></label>
        <input class="form-control" asp-for="ViPlazas" />
    </div>
    <div class="form-group">
        <label asp-for="ViPrecio"></label>
        <input class="form-control" asp-for="ViPrecio" />
    </div>
    <div class="form-group">
        <label for="ViLugarDestinoId">Id lugar destino:</label>
        <input class="form-control" name="ViLugarDestinoId" />
    </div>
    <div class="form-group">
        <label for="ViLugarOrigenId">Id lugar origen:</label>
        <input class="form-control" name="ViLugarOrigenId" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>

</form>

@if (ViewBag.Result == "Success")
{
    <h2>Viaje</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Codigo</th><th>Plazas</th><th>Precio</th><th>Id lugar de destino</th><th>Id lugar de origen</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.ViCodigo</td>
                <td>@Model.ViPlazas</td>
                <td>@Model.ViPrecio</td>
                <td>@Model.ViLugarDestinoId</td>
                <td>@Model.ViLugarOrigenId</td>
            </tr>
        </tbody>
    </table>
}